* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

footer {
    background: hsl(200, 5%, 10%);
    height: auto;
    text-align: center;
    padding: 20px;
    color: white;
}

footer hr {
    margin-bottom: 1rem;
    height: 1px;
    border: 0;
    border-top: 1px solid gray;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

footer a:hover {
    color:hsl(276, 100%, 73%);
    transition: 0.5s;
}

.media-links-container {
    display: flex;
    justify-content: center;
}

.media-links-container a {
    padding: 10px;
    margin: 10px;
    border-radius: 50px;
    font-size: 30px;
    text-decoration: none;
}

.media-links-container a:hover {
    color: hsl(276, 100%, 73%);
    transition: 0.5s;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(images/homepage-background.jpg);
    background-size: cover;
    background-position: center;
}

.navbar {
    background-color: white;
    min-width: 500px; /* change to something more dynamic */
    margin: auto;
    padding: 10px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 250px;
    color: white;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: "";
    height: 3px;
    width: 0;
    background: hsl(260, 60%, 50%);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s; 
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.content h1 {
    font-size: 70px;
    margin-top: 80px;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 4px solid hsl(260, 60%, 50%);
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span {
    background: hsl(260, 60%, 50%);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}

.about {
    width: 100%;
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    font-size: xx-large;
}

.mission-container{
    max-height: 78vh;
    width: 90%;
    position: absolute;
    left: 50%;
    top: 150%;
    transform: translate(-50%);
    color: black;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    overflow-y: auto;
    font-size: large;
}

.developer-container{
    display: flex;
    flex-direction: row;
    order: 2;
    width: 96%;
    position: absolute;
    left: 50%;
    top: 400%;
    transform: translate(-50%);
    color: black;
    overflow-y: auto;
    font-size: large;
}
.developers{
    color: black;
    background-color: white;
    width: 90%;
    margin: 30px;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 0 10px 2px;
}

.tabs{
    color:white;
    position: relative;
    
}
.about p {
    margin: 10px auto;
}

.contact-container {
    display: grid;
    grid-column-gap: 25px;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.contact-us-info {
    margin-bottom: 20px;
    text-align: center;
    color: white;
    grid-column: span 2;
}

.contact-us-info h2 {
    font-size: 18px;
}

.mail-img {
    width: 250px;
    height: 250px;
}

.contact-form-item {
    width: 300px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: none;
}

.contact-form textarea {
    resize: none;
}

input[type="submit"] {
    background-color: hsl(260, 80%, 45%);
    color: white;
    width: 300px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: hsl(260, 60%, 50%);
    box-shadow: 0 0 20px hsl(260, 60%, 50%);
}